<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.acamatch.board.BoardMapper">
    <!-- 상세보기 -->
    <select id="getBoardList" resultType="BoardGetDetailDto">
        SELECT
        B.aca_id, A.user_id, C.board_name, C.board_comment, C.created_at,
        CASE WHEN C.user_id IS NULL THEN B.aca_name
        WHEN C.aca_id IS NULL THEN A.name
        ELSE 'UNKNOWN'
        END AS name
        FROM board C
        LEFT JOIN academy B
        ON C.aca_id = B.aca_id
        LEFT JOIN `user` A
        ON C.user_id = A.user_id
        WHERE
        <if test="acaId != null">
            AND C.aca_id = #{acaId} AND C.user_id IS NULL
        </if>
        <if test="userId != null">
            AND C.user_id = #{userId} AND C.aca_id IS NULL
        </if>
    </select>
</mapper>