<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.acamatch.book.BookMapper">
    <select id="getBookListByClassId">
        select B.*
        from book B
        join aca_class C on B.class_id = C.class_id
        join academy A on A.aca_id = C.aca_id
        where B.class_id = #{classId}
        AND A.aca_agree = 1
    </select>
    <select id="getBookListByAcaNameBookName">
        SELECT B.book_id, B.book_name, B.book_comment, B.book_pic,
        B.book_amount, B.book_price, B.manager, B.created_at,
        A.aca_id, A.aca_name, BC.bookCount
        FROM book B
        JOIN aca_class AC ON B.class_id = AC.class_id
        JOIN academy A ON AC.aca_id = A.aca_id
        LEFT JOIN (
        SELECT B.book_id, COUNT(B.book_id) AS bookCount
        FROM book B
        ) BC ON B.book_id = BC.book_id
        <where>
            <if test=" acaName != null and acaName != '' ">
                AND A.aca_name LIKE CONCAT('%', #{acaName}, '%')
            </if>
            <if test=" bookName != null and bookName != '' ">
                AND B.book_name LIKE CONCAT('%', #{bookName}, '%')
            </if>
        </where>
        ORDER BY B.created_at DESC
        LIMIT #{startIdx}, #{size}
    </select>
    <select id="getBookInfo">
        SELECT B.*, P.product_id
        FROM book B
        JOIN product P
        ON B.book_id = P.book_id
        WHERE B.book_id = #{bookId}
    </select>
    <select id="getProductIdByBookId">
        select product_id
        from book B
        join product P
        on B.book_id = P.book_id
        where B.book_id = #{bookId}
    </select>
    <select id="getAcaId">
        SELECT A.aca_id
        from book B
        join aca_class AC on B.class_id = AC.class_id
        join academy A on AC.aca_id = A.aca_id
        where A.aca_id = #{acaId}
    </select>
</mapper>