<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.acamatch.chat.ChatMapper">
    <insert id="insertChat">
        INSERT INTO qna
        SET user_id = #{userId},
        aca_id = #{acaId},
        message = #{message},
        sender_type = #{senderType}
    </insert>
    <select id="selChatList">
        SELECT aca_name, message, sender_type, A.created_at, name
        FROM qna A
        INNER JOIN academy B
        ON A.aca_id = B.aca_id
        INNER JOIN user C
        ON A.user_id = C.user_id
        WHERE A.user_id = #{userId}
        AND A.aca_id = #{acaId}
        ORDER BY qna_id DESC
        LIMIT #{startIdx}, #{size}
    </select>
    <select id="selUserList">
        SELECT A.user_id, name, A.aca_id, aca_name
        FROM qna A
        INNER JOIN user B
        ON A.user_id = B.user_id
        INNER JOIN academy C
        ON A.aca_id = C.aca_id
        WHERE
        <if test="acaId != null and acaId != 0">
        A.aca_id = #{acaId}
        GROUP BY A.user_id
        </if>
        <if test="userId != null and userId != 0">
        A.user_id = #{userId}
        GROUP BY A.aca_id
        </if>
        ORDER BY qna_id DESC
        LIMIT #{startIdx}, #{size}
    </select>
</mapper>