<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.acamatch.grade.GradeMapper">
    <insert id="insGrade">
        INSERT INTO grade
        ( join_class_id, subject_id, score, pass, exam_date, processing_status)
        SELECT join_class_id, #{subjectId}, #{score}, #{pass}, #{examDate}, #{processingStatus}
        FROM joinclass
        WHERE join_class_id = #{joinClassId}
    </insert>

    <select id ="existsGrade">
        SELECT COUNT(*)
        FROM grade A
        INNER JOIN joinclass B
        ON A.join_class_id = B.join_class_id
        WHERE B.join_class_id = #{joinClassId} AND A.subject_id = #{subjectId}
    </select>

    <resultMap id="selGradeScoreResultMap" type="com.green.acamatch.grade.model.GradeGetDto">
        <result property="subjectName" column="subject_name" />
        <result property="examDate" column="exam_date" />
        <result property="score" column="result_score" />
        <result property="pass" column="result_pass" />
    </resultMap>

    <select id="selGradeScore" resultMap="selGradeScoreResultMap">
        SELECT A.subject_name, B.exam_date,
        CASE WHEN A.SCORE_TYPE = 0 THEN B.score ELSE NULL END AS result_score,
        CASE WHEN A.SCORE_TYPE != 0 THEN
        CASE WHEN COALESCE(B.PASS, 0) = 0 THEN 0 ELSE 1 END ELSE NULL END AS result_pass
        FROM subject A
        INNER JOIN grade B
        ON A.subject_id = B.subject_id
        INNER JOIN joinclass C
        ON B.join_class_id = C.join_class_id
        WHERE C.join_class_id = #{joinClassId}
        LIMIT #{startIdx}, #{size}
    </select>

    <select id = "selGradeStatus">
        SELECT A.aca_pic, C.subject_id, C.subject_name, D.exam_date, D.processing_status
        FROM academy A
        INNER JOIN class B
        ON A.aca_id = B.aca_id
        INNER JOIN subject C
        ON B.class_id = C.class_id
        INNER JOIN grade D
        ON C.subject_id = D.subject_id
        WHERE A.aca_id = #{acaId} AND B.class_id = #{classId}
        GROUP BY subject_id
        LIMIT #{startIdx}, #{size}
    </select>

    <resultMap id="gradeUserResultMap" type="com.green.acamatch.grade.model.GradeUserDto">
        <result property="userId" column="user_id" />
        <result property="userPic" column="user_pic" />
        <result property="userName" column="name" />
        <result property="joinClassId" column="join_class_id" />
        <result property="gradeId" column="grade_id" />
        <result property="subjectName" column="subject_name"/>
        <result property="examDate" column="exam_date" />
        <result property="score" column="score" />
        <result property="pass" column="pass" />
    </resultMap>

    <select id="selGradeUser" resultMap="gradeUserResultMap">
        SELECT E.user_id, E.user_pic, E.name, C.join_class_id, D.grade_id, F.subject_name, D.exam_date,
        CASE WHEN F.SCORE_TYPE = 0 THEN D.score ELSE 0 END AS score,
        CASE WHEN F.SCORE_TYPE != 0 THEN
        CASE WHEN COALESCE(D.PASS, 0) = 0 THEN NULL ELSE 1 END ELSE NULL END AS pass
        FROM academy A
        INNER JOIN class B
        ON A.aca_id = B.aca_id
        INNER JOIN joinclass C
        ON B.class_id = C.class_id
        INNER JOIN `user` E
        ON E.user_id = C.user_id
        INNER JOIN `subject` F
        ON B.class_id = F.class_id
        LEFT JOIN grade D
        ON C.join_class_id = D.join_class_id
        AND F.subject_id = D.subject_id
        WHERE F.subject_id = #{subjectId}
        LIMIT #{startIdx}, #{size}
    </select>

    <update id="updGradeScore">
        UPDATE grade
        <set>
            <if test =" score != null">
                score = #{score},
            </if>
            <if test =" pass != null">
                pass = #{pass},
            </if>
            <if test =" processingStatus != null">
                processing_status = #{processingStatus}
            </if>
        </set>
        WHERE grade_id = #{gradeId}
    </update>
</mapper>