<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.acamatch.joinClass.JoinClassMapper">
    <insert id = "insJoinClass" useGeneratedKeys="true" keyProperty="joinClassId">
        INSERT INTO joinclass
        SET class_id = #{classId},
        user_id = #{userId},
        discount = #{discount},
        certification = #{certification}
    </insert>

    <select id = "existsJoinClass" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM joinclass
        WHERE class_id = #{classId} AND user_id = #{userId}
    </select>

    <select id= "selJoinClass">
        SELECT C.aca_pic, C.aca_name, B.class_name
        FROM joinclass A
        INNER JOIN class B
        ON A.class_id = B.class_id
        INNER JOIN academy C
        ON B.aca_id = C.aca_id
        WHERE A.user_id = #{userId}
        LIMIT #{startIdx}, #{size}
    </select>

    <resultMap id="JoinClassUserResultMap" type="com.green.acamatch.joinClass.model.JoinClassUserGradeDto">
        <result property="userPic" column="user_pic" />
        <result property="userName" column="name" />
        <collection property="examDtoList" resultMap="JoinClassUserGradeResultMap" />
    </resultMap>

    <resultMap id="JoinClassUserGradeResultMap" type="com.green.acamatch.joinClass.model.JoinClassExamDto">
        <result property="examDate" column="exam_date" />
        <result property="score" column="result_score" />
        <result property="pass" column="result_pass" />
    </resultMap>

    <select id= "selJoinClassUserGrade" resultMap="JoinClassUserResultMap">
        SELECT E.user_pic, E.name, D.exam_date,
        CASE WHEN F.SCORE_TYPE = 0 THEN D.score ELSE NULL END AS result_score,
        CASE WHEN F.SCORE_TYPE != 0 THEN
        CASE WHEN COALESCE(D.PASS, 0) = 0 THEN '불합격' ELSE '합격' END ELSE NULL END AS result_pass
        FROM academy A
        INNER JOIN class B
        ON A.aca_id = B.aca_id
        INNER JOIN joinclass C
        ON B.class_id = C.class_id
        INNER JOIN grade D
        ON C.join_class_id = D.join_class_id
        INNER JOIN `user` E
        ON E.user_id = C.user_id
        INNER JOIN `subject` F
        ON F.subject_id = D.subject_id
        WHERE A.aca_id = #{acaId}
        ORDER BY D.exam_date DESC
        LIMIT #{startIdx}, #{size}
    </select>

    <update id = "updJoinClass">
        UPDATE joinclass
        <set>
            <if test =" discount != null">
                discount = #{discount},
            </if>
            <if test =" certification != null">
                certification = #{certification}
            </if>
        </set>
        WHERE join_class_id = #{joinClassId}
    </update>

    <delete id = "delJoinClass">
        DELETE FROM joinclass
        WHERE join_class_id = #{joinClassId}
    </delete>
</mapper>