<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.acamatch.academy.mapper.PremiumMapper">

    <!--프리미엄조회, 배너존재하는거 (학원관계자)-->
    <select id="getPremiumBannerExist" resultType="com.green.acamatch.academy.premium.model.PremiumBannerExistGetRes">
        SELECT b.aca_id, b.aca_name, a.start_date, a.end_date, a.pre_check, c.banner_type, a.created_at
        , (select COUNT(*)
        FROM premium_academy a
        JOIN academy b
        ON a.aca_id = b.aca_id
        left JOIN banner c
        ON a.aca_id = c.aca_id
        WHERE c.banner_type IS NOT NULL
        AND b.user_id = #{userId}) AS count_premium

        FROM premium_academy a
        JOIN academy b
        ON a.aca_id = b.aca_id
        left JOIN banner c
        ON a.aca_id = c.aca_id
        WHERE c.banner_type IS NOT NULL
        AND b.user_id = #{userId}
        Limit #{startIdx}, #{size}
    </select>

    <!--이미 프리미엄신청이 되었거나 프리미엄인 학원 제외하고 조회-->
    <select id="getPremiumNotExist" resultType="com.green.acamatch.academy.premium.model.PremiumNotexistGetRes">
        SELECT a.aca_id, a.aca_name
        FROM academy a
        WHERE a.aca_id NOT IN (
        SELECT p.aca_id FROM premium_academy p JOIN academy a ON a.aca_id = p.aca_id WHERE a.user_id = #{userId}
        )
        AND a.user_id = #{userId};

    </select>


    <!--프리미엄 학원 조회(학원관계자)-->
    <select id="getPremiumAcademyAcaAdmin" resultType="com.green.acamatch.academy.premium.model.PremiumAcaAdminGetRes">
        SELECT a.aca_id, b.aca_name, a.start_date, a.end_date, a.pre_check, a.created_at
            , count(*) over() as countPremium
        FROM premium_academy a
        JOIN academy b
        ON a.aca_id = b.aca_id
        JOIN user c
        ON b.user_id = c.user_id
        where b.user_id = #{userId}
        ORDER BY a.created_at
    </select>

</mapper>