<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.acamatch.refund.RefundMapper">
    <select id="getRefundList">
        select refund_id, cost_id, refund_comment, refund_status, created_at, updated_at
        from refund
        where created_at >= now() - interval 1 month
    </select>
    <select id="getRefundListByUserId">
        select A.refund_id, A.cost_id, A.refund_comment, A.refund_status, A.created_at, A.updated_at
        from refund A
        join academy_cost B
        on A.cost_id = B.cost_id
        where B.user_id = #{userId}
    </select>
    <select id="getInfoByRefundId">
        select refund_id, cost_id, refund_comment, refund_status, created_at, updated_at
        from refund
        where refund_id = #{refundId}
    </select>
    <select id="getRefundListByAcaUserId">
        select RF.refund_id, RF.cost_id, RF.refund_comment, RF.refund_status, RF.created_at, RF.updated_at
        from refund RF
        JOIN academy_cost AC ON RF.cost_id = AC.cost_id
        JOIN product P ON AC.product_id = P.product_id
        LEFT JOIN aca_class C ON P.class_id = C.class_id
        LEFT JOIN book B ON P.book_id = B.book_id
        JOIN academy A ON C.aca_id = A.aca_id OR B.aca_id = A.aca_id
        where RF.created_at >= now() - interval 1 MONTH
        AND A.user_id = #{userId}
    </select>
</mapper>